# Node
node_modules/
dist/
dist-ssr/
*.local

# Tauri / Rust
src-tauri/target/
src-tauri/gen/
**/*.rs.bk
Cargo.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Generated
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Local Database Test Data
.dev-data/
*.sqlite
*.db
